<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Offline -->
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> -->
    <!-- <script src="/javascripts/angular.min.js"></script> -->
    <!-- <script src="/javascripts/angular-ui-router.js"></script> -->
    <!-- End offline -->

    <!-- Online -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- End online -->
    <script src="/javascripts/angular_app.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="comicconnections" style="background-color: #fbf9ef; padding-top: 50px; padding-bottom: 50px;">
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="nav_controller">
    	<ul class="nav navbar-nav">
            <li><a href="#/characters">Characters</a></li>
            <li><a href="#/relationships/captain-america">Relationships</a></li>
            <li><a href="#/comparison?name1=Captain%20America&name2=Wasp">Comparison</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
    		<li ng-hide="is_logged_in()">
                <a href="#/register">Register</a>
            </li>
    		<li ng-hide="is_logged_in()">
                <a href="#/login">Login</a>
            </li>
            <li ng-show="is_logged_in()">
                <a>{{current_user()}}</a>
            </li>
            <li ng-show="is_logged_in()">
                <a href="" ng-click="logout()">Log Out</a>
            </li>
        </ul>
    </nav>
    <div id="bigcontainer" class="row-fluid">
    	<ui-view></ui-view>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="copyright">&copy; 2015 Kaitlin Decker All Rights Reserved</div>
        <div class="copyright">All Marvel characters and the distinctive likeness(es) thereof are Trademarks & Copyright © 1941–2012 Marvel Characters, Inc. ALL RIGHTS RESERVED.</div>
    </nav>
  </body>
</html>
