<div class="col-md-10 col-md-offset-1">
	<div class="row" id="character-info">
    	<h1>Big Words to Draw People In</h1>
	  	<p>
        Et vix ipsum percipitur. Pertinax sadipscing te sit. Ne wisi tacimates constituto sit, an verear qualisque est. Adolescens interesset an nam.
 		 	</p>
    </div>
    <div class="row" id="character-list">
        <div class="col-md-2" ng-repeat="character in characters | orderBy:'name'">
            <div class="superhero-block">
  	  			<a href="#/relationships/{{character.slug}}"><img ng-src="{{character.image_path}}/standard_medium.{{character.image_extension}}"></a>
  	  			<a href="#/relationships/{{character.slug}}"><h4>{{character.name}}</h4></a>
  	  			<a href="#/relationships/{{character.slug}}"><p>{{character.real_name}}</p></a>
  	  		</div>
  	  	</div>
	    </div>
</div>