<div class="char-comparison">
    <div id="vert-char-list" style="float: left; width: 11%;">
    <span class="glyphicon glyphicon-chevron-up arrow" ng-click="decrement_top()">
    </span>
    <p>
        <span ng-repeat="character in characters | orderBy:'name' | startFrom:top_start:characters | limitTo:13">
        <a href="#/comparison?name1={{character.name}}&name2={{bottom_character.name}}" ng-hide=match_bottom(character)>
            <span ng-show=match_top(character)>
                <b>{{character.name}}</b>
            </span>
            <span ng-hide=match_top(character)>
                {{character.name}}
            </span>
        </a>
        <span ng-show=match_bottom(character)>{{character.name}}</span>
        </span>
    </p>
    <span class="glyphicon glyphicon-chevron-down arrow" ng-click="increment_top()">
    </span>        
    </div>
    <div class="char-comparison-details">
            <div>
                <img ng-src="{{top_character.image_path}}/portrait_fantastic.{{top_character.image_extension}}">
            </div>
            <div>
                <h2>
                    {{top_character.name}}
                </h2>
                <p>
                    {{top_character.real_name}}
                </p>
            </div>
        </div>
    <div class="comparison-panels-container panel-group">
        <p ng-hide="relationships.length" class="panel panel-default comparison-panels" style="text-align: center;">
            No documented relationships between characters
        </p>
        <div ng-hide="!relationships.length" class="panel panel-default comparison-panels" ng-repeat="relationship in relationships">
            <div class="panel-heading" style="background: #de3e3e; color: #FFF;
">
                {{relationship.type}}
            </div>
            <div class="panel-body">
                {{relationship.description}}
            </div>
        </div>
    </div>
    <div class="char-comparison-details">
            <div>
                <img ng-src="{{bottom_character.image_path}}/portrait_fantastic.{{bottom_character.image_extension}}">
            </div>
            <div>
                <h2>
                    {{bottom_character.name}}
                </h2>
                <p>
                    {{bottom_character.real_name}}
                </p>
            </div>
        </div>
    <div id="vert-char-list" style="float: left; width: 11%;">
        <span class="glyphicon glyphicon-chevron-up arrow" ng-click="decrement_bottom()"></span>
        <p>
            <span ng-repeat="character in characters | orderBy:'name' | startFrom:bottom_start:characters | limitTo:13">
            <a href="#/comparison?name1={{top_character.name}}&name2={{character.name}}" ng-hide=match_top(character)>
                <span ng-show=match_bottom(character)>
                    <b>{{character.name}}</b>
                </span>
                <span ng-hide=match_bottom(character)>
                    {{character.name}}
                </span>
            </a>
                <span ng-show=match_top(character)>{{character.name}}</span>
            </span>
        </p>
        <span class="glyphicon glyphicon-chevron-down arrow" ng-click="increment_bottom()"></span>
    </div>
</div>
