<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<div class="login-greeting">
			<h1>Welcome Back Avenger</h1>
		</div>
	</div>
    <div ng-show="error" class="alert alert-danger row">
        <span>{{error.message}}</span>
    </div>
	<div class="row" style="text-align: center;">
		<form ng-submit="login()">
			<input type="text" placeholder="Username" class="form-control" ng-model="user.username" style="margin: 0 auto 0 auto; width: 300px;"><br>
			<input type="password" placeholder="Password" class="form-control" ng-model="user.password" style="margin: 0 auto 0 auto; width: 300px;"><br>
			<button type="submit" class="butn butn-important">Login</button>
		</form>
	</div>

</div>