<div class="col-md-8 col-md-offset-2" style="margin-top: 30px; padding: 0;">
	<div ng-show="error" class="alert alert-danger row">
	    <span>{{error.message}}</span>
	</div>
	<div class="col-md-5">
		<form style="margin: 60px 0 0 10px; width: 300px;" ng-submit="register()">
				<label>Username</label>
				<input type="text" class="form-control" ng-model="user.username"><br>
				<label>Password</label>
				<input type="password" class="form-control" ng-model="user.password"><br>
			<button class="butn butn-important">Register</button>
		</form>
	</div>
	<div class="col-md-1">
		I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>I<br>
	</div>
	<div class="col-md-6" id="register">
		<h3>Big Welcome Heading</h3>
		<p>
			Lorem ipsum dolor sit amet, probo ornatus ei vim, sit in dicta munere dissentiunt, at prompta tractatos per. Sed perfecto invenire ex. Sanctus appareat consetetur quo ut. Propriae voluptatum no per, assueverit adversarium ut ius. Eius essent numquam nam ne, quo cu quando graeco facilis. Cu pro mentitum iudicabit conclusionemque, ea sed diam utinam. 
		</p>
		<div class="perks">
			perk one  &#x25cf;  perk two with more words  &#x25cf;  perk three
		</div>
		<div class="perks">
			perk four  &#x25cf;  perk five
		</div>
	</div>
</div>