<div class="col-md-3" id="vert-char-list">
    <span class="glyphicon glyphicon-chevron-up arrow" ng-click="decrement_start()"></span>
	<a href="#/relationships/{{character.slug}}" ng-repeat="character in characters | orderBy:'name' | startFrom:start:characters | limitTo:13">
        <span ng-show=match(character)>
            <b>{{character.name}}</b>
        </span>
        <span ng-hide=match(character)>
            {{character.name}}
        </span>
    </a>
    <span class="glyphicon glyphicon-chevron-down arrow" ng-click="increment_start()"></span>
</div>

<div class="col-md-9 char-detail">
	<div class="col-md-5 char-image">
		<img ng-src="{{current_character.image_path}}/portrait_uncanny.{{current_character.image_extension}}">
	</div>
	<div class="col-md-7" id="relationship-character-info">
		<h2>{{current_character.name}}</h2>
		<h3>{{current_character.real_name}}</h3>
		<p> Lorem ipsum dolor sit amet, probo ornatus ei vim, sit in dicta munere dissentiunt, at prompta tractatos per. Sed perfecto invenire ex. Sanctus appareat consetetur quo ut. Propriae voluptatum no per, assueverit adversarium ut ius. Eius essent numquam nam ne, quo cu quando graeco facilis. Cu pro mentitum iudicabit conclusionemque, ea sed diam utinam.
		</p>
		<div class="relationship-panels-container">
			<div class="panel panel-default relationship-panels" ng-repeat="relationship in relationships" style="background-color: #fefcff;">
                <div class="panel-heading" style="background: #de3e3e; color: #FFF;
">{{relationship.name}}</div>
                <div class="panel-body" ng-repeat="member in relationship.members">
                    <a href="#/comparison?name1={{current_character.name}}&name2={{member.character_name}}">{{member.character_name}}</a>
                    ({{member.summary}})
                </div>
            </div>
		</div>
	</div>
</div>