<div class="col-md-8 col-md-offset-2">
	<div id="splash-page">
		<img src="images/comicconnections.png">
		<h1>Marvel Connected</h1>
		<p>Ever wanted to know who on the X-men team was an Avenger? Now you can. Search through our database of 12 characters and discover new relationships today!</p>
		<a href="/#/register"><button class="butn butn-important">Register</button></a> or <a href="#/login">Login</a>
	</div>
</div>