/* fonts */
@font-face 
{
	font-family: bebas-neue;
	src: url(fonts/BebasNeueRegular.otf);
}

@font-face
{
	font-family: caviar-dreams;
	src: url(fonts/CaviarDreams-webfont.ttf);
}

@media screen and (min-height: 960px)
{
	.classy
	{
		background: pink;
	}

	#bigcontainer
	{
		margin-top: 110px;
	}

	#character-list
	{
		height: 500px;
	}

	.char-comparison-details
	{
		margin-top: 70px;
	}

	.comparison-panels-container
	{
		margin-top: 70px;
	}
}

@media screen and (max-height: 959px) and (min-height: 800px)
{
	.classy
	{
		background: blue;
	}

	#bigcontainer
	{
		overflow: hidden;
		margin-top: 90px;
	}

	#character-list
	{
		height: 390px;
	}

	.char-comparison-details
	{
		margin-top: 70px;
	}

	.comparison-panels-container
	{
		margin-top: 70px;
	}
}

@media screen and (min-height: 659px) and (max-height: 800px)
{
	.classy
	{
		background: green;
	}

	#bigcontainer
	{
		margin-top: 60px;
	}

	#character-list
	{
		height: 300px;
	}

	.char-comparison-details
	{
		margin-top: 70px;
	}

	.comparison-panels-container
	{
		margin-top: 70px;
	}
}

@media screen and (max-height: 659px)
{
	.classy
	{
		background: yellow;
	}

	#bigcontainer
	{
		margin-top: 40px;
		overflow: hidden;
	}

	#character-list
	{
		height: 250px;
	}

	.char-comparison-details
	{
		margin-top: 70px;
	}

	.comparison-panels-container
	{
		margin-top: 70px;
	}
}

/** GENERAL **/
	body
	{
		font-size: 16px;
	}

	#container
	{
		height: 550px;
		overflow: hidden;
	}

	#bigcontainer
	{
		/*border: 1px solid black;*/
		overflow: hidden;
	}

/** SPLASH **/
	#splash-page {
		/*color: black;*/
		text-align: center;
	}

	#splash-page img 
	{
		background: #de3e3e;
	}

/** NAV **/
	nav
	{
		font-size: 15px;
	}

	a 
	{
		color: #de3e3e;
	}

	.navbar-default
	{
		background-color: #de3e3e;
		border-color: #ffdfdd;
	}

	.navbar-default .navbar-nav>li>a
	{
		color: white;
	}

/** FOOTER **/
	.copyright
	{
		color: white;
		font-size: 12px;
		text-align: center;
		margin-top: 5px;
	}

/** HEADERS **/
	h1, h2, h3
	{
		font-family: bebas-neue;
	}

	h1
	{
		font-size: 100px;
		text-align: center;
	}

	h2 
	{
		font-size: 75px;
	}

	h3
	{
		font-size: 60px;
	}

/** BUTTONS **/

	.butn
	{
		border: 1px solid;
		border-color: #f7634f #962d26 #962d26 #962d26;
		border-radius: 3px;
		color: black;
		font-size: 14px;
		margin: 10px;
		padding: 15px;
		width: 125px;
	}

	.butn-important
	{
		background: #e83336;
		color: black;
	}

/** REGISTER **/
	#register h3
	{
		text-align: center;
	}

	#register p
	{
		margin: 20px;
	}

	.perks 
	{
		color: #e83336;
		font-size: 18px;
		margin-bottom: 10px;
		text-align: center;
	}

/** CHARACTERS **/

	#character-info
	{
		text-align: center;
	}

	#character-info p
	{
		margin: 20px 0;
	}

	#character-list
	{
		margin-top: 30px;
		overflow-y: scroll;
		text-align: center;
	}

	.superhero-block h4 
	{
		font-family: bebas-neue;
		font-size: 24px;
		margin: 10px 0 0 0;
	}

	.superhero-block p
	{
		margin-top: -3px;
	}

/** RELATIONSHIP **/
	#vert-char-list
	{
		text-align: center;
	}

	#vert-char-list a
	{
		display: block;
		margin: 10px auto 10px auto;
		width: 140px;
	}

	.arrow
	{
		cursor: pointer;
	}

	.arrow-left
	{
		float: left;
		margin: 15px;
	}

	.arrow-right
	{
		float: right;
		margin: 15px;
	}

	#relationship-character-info
	{
		height: 500px;
		padding: 0;
		overflow: hidden;
	}

	#relationship-character-info h2
	{
		margin: 0;
		padding: 0;
	}

	#relationship-character-info h3
	{
		font-size: 32px;
		margin: 0;
		padding: 0;
	}

	#relationship-character-info p
	{
		margin: 0;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.relationship-panels-container
	{
		height: 260px;
		margin: 0;         /* <-| These are a pair    */ 
		margin-top: 20px;  /* <-| Move them together! */
		overflow-y: auto;
		width: 70%;
	}

	.relationship-panels
	{
		border-radius: 0;
		border-top: none;
		margin: 0 auto 0 auto;
	}

	.panel-heading
	{
		font-family: bebas-neue;
		font-size: 24px;
	}

	.panel-body
	{
		margin: 10px;
		padding: 0;
		padding-left: 15px;
	}

	.panel-body:last-child
	{
		margin-bottom: 0px;
		padding-bottom: 10px;
	}

/** COMPARISON **/
	.char-comparison 
	{
		margin: 0 auto 30px auto;
		padding: 0 15px 0 15px;
		overflow: auto;
	}

	.char-comparison-details
	{
		float:left;
		overflow: auto;
		text-align: center;
		width: 20%;
	}

	.char-comparison-details h2
	{
		clear: both;
		display: block;
		font-size: 50px;
		text-align: center;
	}

	.char-comparison-details p
	{
		clear: both;
		display: block;
		text-align: center;
	}

	.comparison-panels-container
	{
		float: left;
		width: 38%;
	}

	.comparison-panels
	{
		margin: 10px auto 10px auto;
	}
	
	.char-names {
		display: inline-block;
		width: 150px;
	}

	.char-names:first-child
	{
		margin-left: 0;
	}
/* colors */