<div class="col-md-8 col-md-offset-2">
	<div id="splash-page">
		<img src="bigpicture.jpg">
		<h1>big words of sometype</h1>
		<p>More words to describe what this site is and why it's so cool</p>
		<button class="butn butn-important">Register</button> or <a href="#/login">Login</a>
	</div>
</div>